<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.4.2.4" targetFramework="net471" />
  <package id="Microsoft.CodeCoverage" version="16.0.1" targetFramework="net471" />
  <package id="Microsoft.NET.Test.Sdk" version="16.0.1" targetFramework="net471" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="NUnit" version="3.12.0" targetFramework="net471" />
  <package id="NUnit.Engine.Api" version="3.10.0" targetFramework="net471" />
  <package id="NUnit3TestAdapter" version="3.16.0" targetFramework="net461" developmentDependency="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net471" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net471" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net471" />
</packages>